@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(..\fonts\Roboto-Regular.ttf);
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
  
/* Header */
header {
  background-color: #1F2937;
  color: #F9FAF8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header-main{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header-top {
  display: block;
  flex: 0 0 auto;
}
  
.logo {
  font-size: 24px;
}
  
nav ul {
  display: flex;
}
  
nav li {
  list-style: none;
  margin-right: 1rem;
}
  
nav a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}
  
h1 {
  font-size: 48px;
  font-weight: 800;
  margin-top: 2rem;
}
  
.subtext {
  text-align: center;
  margin: 10px;
  color: #E5E7EB;
  font-size: 18px;
}


button {
  background-color: #3882F6;
  color: #F9FAF8;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
}
  
.placeholder-image {
  width: 400px;
  height: 200px;
  background-color: lightgray;
  border-radius: 10px;
}
  
/* Main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
  
h2 {
  font-size: 36px;
  font-weight: 800;
  color: #1F2937;
  margin-bottom: 1rem;
}
  
.squares {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 1rem;
}
  
.squares div {
  width: 100px;
  height: 100px;
  background-color: #F9FAF8;
  border: solid 3px #3882F6;
  border-radius: 10px;
  margin: 10px;
}
  
/* Quote */
.quote {
  background-color: #E5E7EB;
  padding: 2rem;
}

#q-author {
  text-align: right;
  font-size: 18px;
  font-style: bold;
}
  
blockquote {
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
}
  
/* Call to Action */
.cta {
  background-color: #3882F6;
  color: #F9FAF8;
  padding: 2rem;
  border-radius: 10px;
}

  /* Call to Action */
.cta-frame {
  background-color: #FFFFFF;
  padding: 5rem;
}
  
.cta h2 {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 1rem;
}
  
.cta h3 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 2rem;
}

.cta button {
  border: solid 3px #F9FAF8;
  border-radius: 10px;
}
  
/* Footer */
footer {
  background-color: #1F2937;
  color: #F9FAF8;
  padding: 1rem;
  text-align: center;
}

/*Media Queries and Keyframes Below*/
/*
@media all and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }

    h1 {
        font-size: 22px;
    }
}

@media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }

    h1 {
        font-size: 22px;
    }
}

@media all and (max-width: 750px) {
    .grid {
        grid-gap: 10px;
    }

    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }

    h1 {
        font-size: 22px;
    }
}*/